<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Giphy Results</title>
</head>
    <body>
        <h1>GIPHY Search Results for:</h1>
        <hr>
        <h2>
            Search Term:
            <span data-th-text="${searchTerm}"></span>
            <br>
            Filtered Limit:
            <span data-th-text="${limit}"></span>
            <br>
            Filtered Ratings:
            <span data-th-text="${ratings}"></span>
        </h2>
        <hr>

        <!-- <table>
            <tr data-th-each="l: ${list}">
                <td>
                    <img data-th-src="@{http://openweathermap.org/img/wn/{icon}@2x.png(icon=${l.icon})}" alt="">
                </td>
                <td data-th-text="${l.main}"></td>
                <td data-th-text="${l.description}"></td>
            </tr>
        </table> -->

    </body>
</html>